

h1{
    color: #c1ae7c;
    background-color: #6c3a5c;
}
#1{
    background-color:#000814;
    color: #003566;
}
#2{
        background-color:#ffd60a;
        color: #001d3d;
}
#3{
    background-color:#335c67;
    color: #9e2a2b;
}
#4{
    background-color:#fff3b0;
    color: #540b0e;
}