body{
    background-color: #9c6644;
}
#m{
    background-color:#000814;
    color: #003566;
}
#n{
        background-color:#ffd60a;
        color: #001d3d;
}
#b{
    background-color:#335c67;
    color: #9e2a2b;
}
#v{
    background-color:#fff3b0;
    color: #540b0e;
}